/* About Me Section */
.about-me {
  color: #BACCA4;
  padding-top: 5%;
}



/*
@media (max-width: 992px) {


  .flex-item-about {
    width: 100%;
  }

  .about-container {
    flex-wrap: wrap;
  }

  .section-content {
    margin-right: 0px;
  }
}
*/

.about-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 4%;
}

.flex-item-about {
  // width: 50%;
}



.section-content p {
  color: #BACCA4;
  font-family: 'Titillium Web', sans-serif;
  font-size: 21px;
  font-weight: 300;
  line-height: 28px;
  margin: 0 0px 10px;
  text-align: left;
}

.section-content a {
  color: #2B2726;
  font-weight: bold;
  text-decoration: none;
}

.section-content a::after {
  color: #2B2726;
}

.github-user {
  color: #000000;

  .gt-container {
    border: none;
    box-shadow: 0 4px 4px HSLA(0, 0%, 63%, 1);
  }

  .user-name {
    font-family: 'Titillium Web', sans-serif;
    font-size: 30px;
  }

  .user-login {
    font-size: 20px;
  }

  .gt-usr-img {
    box-shadow: 0 4px 4px HSLA(0, 0%, 63%, 1);
  }

  .gt-usr-details {
    font-size: 20px;
    margin-bottom: 1%;
  }

  .gt-activity-cnt {
    font-size: 20px;
    height: 50vh;
    margin-bottom: 10px;
  }

  @media (max-width: 374px) {
    display: none;
  }
}

@media (min-width: 993px) {
  .about-container {
    flex-wrap: nowrap;
    margin: 0 1%;
  }

  .flex-item-about {
    width: 50%;
  }

  .section-content {
    margin-right: 10px;
  }
}
