
body,
html,
main {
  height: 100%;
}

body {
  background: #fafafa;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.about-me,
.my-skills,
.my-work,
.contact-head {
  font-family: 'Roboto Slab', serif;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-align: center;
}

.about-me,
.my-skills,
.my-work {
  margin-bottom: 5%;
  margin-top: 0;
  padding-top: 10%;
}

/* Background Images and Colors */

/* Set attributes for background images*/
.cd-fixed-bg,
.cd-fixed-bg-end {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

.cd-scrolling-bg {
  min-height: 100%;
}

.cd-scrolling-bg-end {
  min-height: 60%;
}

/* Landing page background Image */
.cd-fixed-bg.cd-bg-1 {
  background-image: url("../images/mountain.png");
}

/* Contact Section Background Image */
.cd-fixed-bg-end.cd-bg-3 {

  background-image:
  /* Little trick to give an overlay that lightens the image
   * for better contrast of text, faking with gradient
   * is the easiest way to do this
   */
    linear-gradient(
    HSLA(0, 0%, 100%, 0.07),
    HSLA(0, 0%, 100%, 0.07)
    ),
    url("../images/road.png");
}

/* About Section */
.cd-color-1 {
  background-color: HSLA(0, 0%, 93%, 1);
}

/* Skills Section */
.cd-color-2 {
  background-color: HSLA(300, 1%, 37%, 1);
}

/* Work Section */
.cd-color-3 {
  background-color: black;
}

/* END Background Images and Colors */

/* Navigation */

.navigation {
  list-style: none;
  margin: 0;
  background: black;
  display: flex;
  -webkit-flex-flow: row wrap;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
}

.navigation-link a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: darken(black, 2%);
}

.flex-nav-brand {
  padding: 0;
  text-decoration: none;
  display: block;
  color: white;
}

.navigation-title {
  display: flex;
  -webkit-flex-flow: row;
  justify-content: flex-start;
  align-self: center;
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
  padding: 0;
}

.navigation-link {
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
  align-self: center;
  flex-grow: 3;

}

.navigation-title a:hover {
  color: HSLA(200, 69%, 54%, 1);
  text-decoration: none;
}

.navigation-link a:hover {
  background-color: transparent;
  border-bottom-color: HSLA(200, 69%, 54%, 1);
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-radius: 0px;
  color: HSLA(200, 69%, 54%, 1);
  text-decoration: none;
}

.active-nav {
  background-color: transparent;
  border-bottom-color: HSLA(200, 69%, 54%, 1);
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-radius: 0px;
  color: HSLA(200, 69%, 54%, 1);
  text-decoration: none;
}

/* Home Section */

/* Underlines my name */
h2 span {
  border-bottom: 2px solid white;
}

.container {
  position: relative;
}

.home-adjustment-container {
  padding-right: 10%;
  padding-top: 10%;
}

.flex-container-home {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.flex-h2-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-item-home {
  align-self: auto;
}

.my-name-home {
  border-bottom: 2px solid white;
}

.looper-content {
  font-size: 21px;
  font-weight: 200;
}

/* About Me Section */
.about-me {
  color: black;
  padding-top: 5%;
}

.about-container {
  display: flex;
  flex-direction: row;
  margin: 0 5%;
}

.flex-item-about {
  width: 50%;
}

.section-content {
  margin-right: 10px;
}

.section-content p {
  color: black;
  font-family: 'Titillium Web', sans-serif;
  font-size: 21px;
  font-weight: 300;
  line-height: 28px;
  margin: 0 0px 10px;
  text-align: left;
}

.github-user {
  color: black;

  .gt-container {
    border: none;
  }

  .user-name {
    font-family: 'Titillium Web', sans-serif;
    font-size: 2.8em;
  }

  .user-login {
    font-size: 1.8em;
  }

  .gt-usr-details {
    font-size: 1.7em;
    margin-bottom: 1%;
  }

  .gt-activity-cnt {
    font-size: 1.7em;
    height: 50vh;
    margin-bottom: 10px;
  }
}

/* My Skills Section */
.skills-img-container {
  border-bottom: 4px solid HSLA(200,69%,54%,1);
  margin: 5px;
  padding-bottom: 10px;
  text-align: center;

  .img-skill {
    height: 100px;
    padding: 5px;
    width: 100px;
  }

  .imgnone {
    opacity: 0;
  }
}

.skills-p {
  font-size: 20px;
  padding: 5px;
  text-align: center;
}

.flex-container-skills {
  display: -webkit-flex;
  display: flex;
  flex-flow: row;
  margin: 0 10px;
}

.flex-item-skills-category {
  flex-wrap: wrap;
  width: 100%;
}

.flex-skills-icons {
  justify-content: center;
  display: flex;
}

/* MY PROJECTS Section */
.flex-container-work {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

.flex-item-work {
  display: flex;
  flex-flow: row;

  .img-container {
    flex: auto;
    margin: 5px 10px;
    max-width: 750px;
  }
}

.work-description {
  margin: 0 10px;
  width: 60%;

  h2 {
    margin-top: 10px;
  }

  p,
  a,
  span {
    color: HSLA(0, 0%, 93%, 1);
    font-family: 'Titillium Web', sans-serif;
    font-size: 21px;
    font-weight: 300;
    line-height: 30px;
  }

  .info {
    font-weight: bold;
  }

  a:hover {
    color: HSLA(200, 69%, 54%, 1);
    text-decoration: none;
  }
}

.img-responsive {
  border: 1px solid white;
   height: auto;
   width: 100%;
}

/* Contact Me Section */
.flex-container-contact {
  display: flex;
  flex-flow: column;
}

.flex-item-contact {
  margin: auto;
}

.contact-head {
  color: black;
  margin-bottom: 20px;
  padding-top: 20%;
}

.heading-contact {
  color: black;
}

.my-name-contact {
  border-bottom: 2px solid black;
}

.contact-container {
  text-align: center;
}

.close-statement {
  width: 90%;
}

.close-statement p {
  color: HSLA(0, 67%, 99%, 1);
  font-family: 'Roboto Slab', serif;
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 0.05em;
  padding-top: 80px;
  text-align: center;
}

/* Change Formatting for Mobile Use */
@media (max-width: 1110px) {
  .flex-item-work {
    flex-wrap: wrap;
  }
}

@media (max-width: 992px) {

  // Skills Content Adjustments
  .flex-container-skills {
    flex-wrap: wrap;
  }

  .flex-skills-icons {
    justify-content: space-around;
  }

  // About Content Adjustments
  .flex-item-about {
    width: 100%;
  }

  .about-container {
    flex-wrap: wrap;
  }

  .section-content {
    margin-right: 0px;
  }

  // My Work Content Adjustments
  .work-description {
    margin-bottom: 10px;
    width: 100%;
  }
}

@media (max-width: 768px) {

  .cd-fixed-bg.cd-bg-1 {
    background-color: HSLA(214, 19%, 58%, 1);
    background-image: none;
  }

  .cd-fixed-bg-end.cd-bg-3 {
    background-color: HSLA(203, 23%, 64%, 1);
    background-image: none;
  }

  .close-statement p {
    color: grey;
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 0.05em;
    padding-top: 80px;
  }

  // Home Content Adjustments
  .flex-mobile-container-home {
    display: flex;
    align-items: center;
  }

  .home-adjustment-container {
    padding: inherit;
    margin: auto;
  }

  .flex-container-home {
    align-items: center;
  }

  .flex-h2-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .flex-h2-container h2 {
    margin-top: 0;
  }

  // Hamburger Icon
  .burger {
  	position: relative;
  	display: block;
  	height: 50px;
  	width: 50px;
    background: transparent;
  }

  .burger:hover {
    background: HSLA(200, 69%, 54%, 1) !important;
  }

  .burger span {
    position: absolute;
    top: 23px;
    left: 10px;
    width: 30px;
    height: 5px;
    background: white;
    border-radius: 1rem;
    margin:auto;
  }

  .burger span:before,
  .burger span:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 5px;
    background: white;
    border-radius: 1rem;
    margin: auto;
  }

  .burger span:before {
    top: -10px;
  }

  .burger span:after {
    top: 10px;
  }

  // Animate the burger icon on toggle click
  .burger.open span {
    background: transparent;
  }

  .burger.open span:before,
  .burger.open span:after {
    top: 0px;
    width: 50px;
    margin: auto;
    left: -10px;
  }

  .burger.open span:before {
    transform: rotate(-135deg);
  }

  .burger.open span:after {
    transform: rotate(135deg);
  }

  // Change Navigation Layout for Mobile
  .navigation {
    -webkit-flex-flow: column;
  }

  .navigation-title {
    justify-content: space-between;
    align-self: auto;
    align-items: center;
  }

  .navigation-link-collapsed {
    display: flex;
    -webkit-flex-flow: column;
    justify-content: flex-start;
    align-self: auto;
  }

  .navigation-link-collapsed-hide {
    display: none;
  }
}

@media (max-width: 450px) {

  // Contact Content Adjustments
  .quote {
    display: none;
  }
}
