@import '../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';

body,
html,
main {
  height: 100%;
}

body {
  background: #fafafa;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.about-me,
.my-skills,
.my-work,
.contact-head {
  font-family: 'Roboto Slab', serif;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-align: center;
}

.about-me,
.my-skills,
.my-work {
  margin-bottom: 5%;
  margin-top: 0;
  padding-top: 10%;
}


/* Background Images and Colors */

/* Set attributes for background images*/
.cd-fixed-bg,
.cd-fixed-bg-end {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

.cd-scrolling-bg {
  min-height: 100%;
}

.cd-scrolling-bg-end {
  min-height: 60%;
}

/* Landing page background Image */
.cd-fixed-bg.cd-bg-1 {
  background-image: url("../images/mountain.png");
}

/* Contact Section Background Image */
.cd-fixed-bg-end.cd-bg-3 {

  background-image:
  /* Little trick to give an overlay that lightens the image
   * for better contrast of text, faking with gradient
   * is the easiest way to do this
   */
    linear-gradient(
    HSLA(0, 0%, 100%, 0.07),
    HSLA(0, 0%, 100%, 0.07)
    ),
    url("../images/road.png");
}

/* About Section */
.cd-color-1 {
  background-color: HSLA(0, 0%, 93%, 1);
}

/* Skills Section */
.cd-color-2 {
  background-color: HSLA(300, 1%, 37%, 1);
}

/* Work Section */
.cd-color-3 {
  background-color: black;
}

/* END Background Images and Colors */

/* Navigation */

.navbar-brand {
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > li > a:hover {
  background-color: transparent !important;
  border-bottom-color: HSLA(200, 69%, 54%, 1);
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-radius: 0px;
  color: white !important;
  font-weight: bold;
  text-decoration: none;
}

.nav-pills > li > a {
  border-radius:0px;
}

/* Home Section */

/* Underlines my name */
h2 span {
  border-bottom: 2px solid white;
}

.jumbotron {
  margin-bottom: 0px;
  padding: 180px 0 80px;
}
.container {
  position: relative;
}



.flex-adjustment-container {
  padding-right: 10%;
  padding-top: 10%;
}

.flex-container-home {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.flex-h2-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-item-home {
  align-self: auto;
}

.my-name-home {
  border-bottom: 2px solid white;
}

.looper-content {
  font-size: 21px;
  font-weight: 200;
}


///////


/* About Me Section */

.about-me {
  color: black;
  padding-top: 5%;
}

.about-container {
  display: flex;
  flex-direction: row;
  //flex-wrap: wrap;
  margin: 0 5%;
  //padding-bottom: 1%;
}

.flex-item-about {
  width: 50%;
}

.section-content {
  margin-right: 10px;
}

.section-content p {
  color: black;
  font-family: 'Titillium Web', sans-serif;
  font-size: 21px;
  font-weight: 300;
  line-height: 28px;
  margin: 0 0px 10px;
  text-align: left;
}

.github-user {
  color: black;

  .gt-container {
    border: none;
  }

  .user-name {
    font-family: 'Titillium Web', sans-serif;
    font-size: 2.8em;
  }

  .user-login {
    font-size: 1.8em;
  }

  .gt-usr-details {
    font-size: 1.7em;
    margin-bottom: 1%;
  }

  .gt-activity-cnt {
    font-size: 1.7em;
    height: 50vh;
    margin-bottom: 10px;
  }
}


/* My Skills Section */

.c-img {
  border-bottom: 4px solid HSLA(200,69%,54%,1);
  margin: 5px;
  padding-bottom: 10px;
  text-align: center;

  .img-skill {
    height: 100px;
    padding: 5px;
    width: 100px;
  }

  .imgnone{
    opacity: 0;
  }
}

.skills-p {
  font-size: 20px;
  padding: 5px;
  text-align: center;
}

.flex-container-skills {
  display: -webkit-flex;
  display: flex;
  flex-flow: row;
  margin: 0 10px;
}

.flex-item-skills-category {
  flex-wrap: wrap;
  width: 100%;
}

.flex-skills-icons {
  justify-content: center;
  display: flex;
}

/* MY PROJECTS Section */

.img-responsive {
  width: 100% \9;

}

.view {
  background: white;
  border: 2px solid white;
  box-shadow: 1px 1px 2px #e6e6e6;
  cursor: default;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.view .mask, .view .content {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;

}

.view img {
  display: block;
  position: relative;
  width: 100%;
}

.view h2 {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 17px;
  margin: 20px 0 0 0;
  padding: 10px;
  position: relative;
  text-transform: uppercase;
  text-align: center;
}

.view p {
  color: black;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 20px 20px;
  position: relative;
  text-align: center;
}
.view a.info {
  background: #000;
  box-shadow: 0 0 1px #000;
  color: #fff;
  display: inline-block;
  padding: 7px 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.view a.info:hover {
  box-shadow: 0 0 5px #000;
}

.view-first img {
  transition: all 0.2s linear;
}

.view-first .mask {
  background-color: HSLA(0, 0%, 74%, .9);
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.view-first h2 {
  opacity: 0;
  transform: translateY(-100px);
  transition: all 0.2s ease-in-out;
}

.view-first p {
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.2s linear;
}

.view-first a.info {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.view-first:hover img {
  transform: scale(1.1);
}

.view-first:hover .mask {
  opacity: 1;
}

.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
  opacity: 1;
  transform: translateY(0px);
}
.view-first:hover p {
  transition-delay: 0.1s;
}
.view-first:hover a.info {
  transition-delay: 0.2s;
}

.low-col-adjust {
  margin-bottom: 10px;
  margin-top: 10px;
}

// CONTACT ME SECTION

.flex-container-contact {
  display: flex;
  flex-flow: column;
}

.flex-item-contact {
  margin: auto;
}

.contact-head {
  color: black;
  margin-bottom: 20px;
  padding-top: 20%;
}

.heading-contact {
  color: black;
}

.my-name-contact {
  border-bottom: 2px solid black;
}

.contact-container{
  text-align: center;
}

.close-statement {
  width: 90%;
}

.close-statement p {
  color: grey;
  font-family: 'Roboto Slab', serif;
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 0.05em;
  padding-top: 80px;
  text-align: center;
}

/* Change Formatting for Mobile Use */

@media (max-width: 768px) {

  .cd-fixed-bg.cd-bg-1 {
    background-color: HSLA(214, 19%, 58%, 1);
    background-image: none;
  //  background-image: url("../images/mountain-768.png");
  }

  .cd-fixed-bg-end.cd-bg-3 {
    background-color: HSLA(203, 23%, 64%, 1);
    background-image: none;
  //  background-image: url("../images/road-768.png");
  }

  .close-statement p {
    color: grey;
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 0.05em;
    padding-top: 80px;
  }

  .flex-mobile-container-home {
    display: flex;
    align-items: center;
  }
  .flex-h2-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .flex-h2-container h2 {
    margin-top: 0;
  }
  .flex-adjustment-container {
    padding: inherit;
    margin: auto;
  }
  .flex-container-home {
    align-items: center;
  }
  // .my-name-home {
  // //  width:100%;
  // }
}

@media (max-width: 992px) {

  // Skills content adjustment
  .flex-container-skills {
    flex-wrap: wrap;
  }
  .flex-skills-icons {
    justify-content: space-around;
  }
  // About content adjustment
  .flex-item-about {
    width: 100%;
  }
  .about-container {
    flex-wrap: wrap;
  }
  .section-content {
    margin-right: 0px;
  }
}
