@import "mixins";

/* MY PROJECTS Section */
.flex-container-work {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

.flex-item-work {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;

  .img-container {
    flex: auto;
    margin: 5px 10px;
    max-width: 755px;
  }
}


@media (min-width: 1110px) {
  .flex-item-work {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

@media (min-width: 770px) and (max-width: 1110px) {
  .flex-item-work {
    justify-content: center;
  }

  .work-description {
    width: 70%;
  }

}

.work-description {
  margin: 0 10px;

  h2 {
    color: #2B2726;
    margin-top: 10px;
  }

  p,
  a,
  span {

  @include content-desc(#BACCA4);
  }

  .info {
    font-weight: bold;
  }

  a:hover {
    color: #2B2726;
    text-decoration: none;
  }

  a::after {
    color: #2B2726;
    text-decoration: none;
  }
}

.img-responsive {
  border: 1px solid white;
}

@media (max-width: 768px) {
  .img-responsive {
    height: auto;
    width: 100%;
  }
}
