@import "mixins";

/* My Skills Section */

/* Background Shapes */
.skill-shape-1,
.skill-shape-2,
.skill-shape-3,
.skill-shape-4,
.skill-shape-5 {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.skill-shape-1 {
  background: HSLA(84, 73%, 78%, 0.6);
  transform: skew(300deg, 20deg);
}

.skill-shape-2 {
  background: HSLA(120, 41%, 76%, 0.6);
  transform: skew(20deg, 300deg);
}

.skill-shape-3 {
  background: HSLA(149, 34%, 61%, 0.6);
  transform: skew(30deg, 20deg);
}

.skill-shape-4 {
  background: HSLA(180, 39%, 38%, 0.6);
  transform: skew(-60deg, 137deg);
}

.skill-shape-5 {
  background: HSLA(202, 81%, 23%, 0.6);
  transform: skew(77deg, 182deg);
}
/* End Background Shapes */

.skill-shapes-container {
  overflow: hidden;
  position: relative;
}

.my-skills {
  color: HSLA(12, 6%, 16%, 1); /* #2B2726 */;
  position: relative;
  z-index: 2;
}

.new-skills {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-around;
  z-index: 2;

  @media (max-width: 415px) {
    pointer-events: none;
  }
}

.new-skills-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

.new-skill-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.new-skill-item img {
  cursor: pointer;
  transform: scale(0.75);
}

// Added a semi-transparent background and clipped it into a hexagon to match the logo outline
.node-logo {
  background: rgba(0, 0, 0, 0.66);
  clip-path: polygon(99% 26%, 99% 74%, 50% 100%, 1% 75%, 1% 25%, 50% 0%);
}

.new-skill-item img.backbone-logo {
  transform: scale(0.65);
}

.m-skill-desc {
  background: rgba(245, 238, 238, 0.27);
  padding: 1rem;
  @include content-desc(#31393A);

  span {
    display: block;
  }
}

.skill-desc {
  align-items: center;
  background: #000000;
  bottom: 0;
  color: #FFFFFF;
  display: flex;
  font-size: 30px;
  height: 0;
  left: 0;
  max-height: 0;
  opacity: 0.8;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-align: center;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.skill-desc-1 {
  transform: translateY(100%);
}

.skill-desc-2 {
  top: 0;
  transform: translateY(-100%);
}

.skill-desc-active-js {
  height: 100%;
  max-height: 1000px;
  overflow: hidden;
  padding: 0 1px;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  z-index: 2;
}

.chevron-container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 282px;
  min-width: 256px;
}

.chevron {
  background: #046AB5;
  clip-path: polygon(100% 0%, 90% 88%, 50% 100%, 10% 88%, 0% 0%);
  height: 200px;
  min-height: 200px;
  min-width: 175px;
  position: relative;
  width: 175px;
}

.chevron:before {
  background: linear-gradient(
    to right,
    #046AB5 0%,
    #046AB5 50%,
    #30A8DD 50%,
    #30A8DD 100%
  );
  bottom: 10px;
  content: " ";
  clip-path: polygon(100% 0%, 90% 88%, 50% 100%, 10% 88%, 0% 0%);
  left: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.chevron:after {
  background: #FFFFFF;
  bottom: 30px;
  clip-path: polygon(100% 0%, 90% 88%, 50% 100%, 14% 89%, 10% 60%, 25% 60%, 28% 80%, 50% 87%, 75% 79%, 77% 54%, 28% 54%, 26% 39%, 79% 39%, 81% 15%, 2% 15%, 0% 0%);
  content: " ";
  left: 25px;
  position: absolute;
  right: 25px;
  top: 30px;
}

@media (min-width: 770px) {
  .new-skills-container {
    flex-direction: row;
  }

  .new-skills {
    align-items: stretch;
  }

  .m-skill-desc {
    display: none;
  }
}
