body {
  background-color: #ffffea33;
  color: #444;
  font-size: 18px;
  font-family: Tahoma, Geneva, sans-serif;
  line-height: 1.6;
  margin: 40px auto;
  max-width: 650px;
  padding: 0 10px;
}

h1, h2, h3 {
  line-height: 1.2;
}

a {
  color: #ff2f8e;
  text-decoration: none;
}
